# pixi environments
.pixi
*.egg-info
*.lock
# misc
*.DS_Store
__pycache__

# Book artifacts
book/book
book/html
book/html-*

book/src/puzzle_*/media/images/
book/src/puzzle_*/media/texts/
book/src/puzzle_*/media/Tex/
book/src/puzzle_*/media/videos/*/partial_movie_files/
book/src/puzzle_*/media/videos/*/*.gif
book/src/puzzle_*/media/*.gif

# Vercel
.vercel

# Mojo artifacts
*.mojoc
*.mojopkg

# CUDA / C++ build artifacts
build/
*.o
*.obj

# rules
.cursor/
.claude/
.agents/
.agent/

# llvm
*.ll

# Specific to this project
solutions/p16/p16_optimized
*.nsys-rep
*.ncu-rep
*.qdrep
*.sqlite
*.txt
**/p*/p*_profiler
